.bossImg {
    width: 450px;
}

.bossBox {
    width: 700px;
}

.box {
    display: block;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    justify-content: center;
}

.formBox>form {
    padding: 200px;
    width: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, 1fr);
    justify-items: center;
    align-items: center;
}

.submit {
    grid-column: span 2;
    height: 45px;
}

.box {
    width: auto;
}