.box {
    display: block;
    justify-content: center;
    align-items: center;
}

body {
    background-image: url(lxq2cgncnmo81.webp);
    background-size: contain;
    background-color: black;
    font: large;
    font-weight: bold;
}

.wrapper {
    display: flex;
    justify-content: center;
    width: fit-content;
}

.formBox form {
    padding: 20px;
    width: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
}

.formBox {
    background-color: burlywood;
    width: 600px;
    justify-content: center;
}

.submit {
    grid-column: span 2;
    height: 45px;
}

.box {
    width: 300px;
}

.spellBox {
    border: 10px;
    border-color: red;
    border-style: groove;
}

.incantBox {
    border: 10px;
    border-color: gold;
    border-style: groove;
}

.weponBox {
    border: 10px;
    border-color: aqua;
    border-style: groove;
}